<div class="audio-track-control"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">
  <button class="audio-icon" 
          (click)="toggleMenu()"
          [disabled]="!hasMultipleTracks">
    🎵
  </button>
  
  @if (showMenu && hasMultipleTracks) {
    <div class="audio-menu">
      @for (track of audioTracks; track track.index) {
        <div class="audio-option"
             [class.selected]="currentAudioIndex === track.index"
             (click)="selectAudioTrack(track.index)">
          {{ track.label }}
        </div>
      }
    </div>
  }
</div>
