<div class="overlay-container">
  @if (weatherData) {
    <div class="weather-display">
      <app-weather-icon [weatherCode]="weatherData.weatherCode" [size]="56"></app-weather-icon>
      <div class="weather-text">
        <div class="temperature">{{ temperatureText }}</div>
        <div class="feels-like">{{ feelsLikeText }}</div>
      </div>
    </div>
  }

  <div class="time-display">
    {{ formattedTime }}
  </div>

  @if (weatherError) {
    <div class="error-message">
      {{ weatherError }}
    </div>
  }
</div>
